langchain
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-openai
langgraph
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
httpx
openai